<div class="auth-container">
    <h2>Create Account</h2>
<!--     
    <div class="social-login">
      <button class="social-btn facebook"><i>f</i></button>
      <button class="social-btn google"><i>G+</i></button>
      <button class="social-btn linkedin"><i>in</i></button>
    </div>
    
    <div class="divider">or use your email for registration:</div> -->
    
    <form >
      <!-- Name input -->
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name"  required>
      </div>
      
      <!-- Email input -->
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email"  required>
      </div>
      
      <!-- Password input -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      
      <button type="submit" class="btn-primary">SIGN UP</button>
    </form>
    
    <div class="auth-footer">
      <p>Already have an account? <a routerLink="/login">Sign In</a></p>
    </div>
  </div>