<div class="main">
    <div class="auth-container">
        <h2>Welcome Back!</h2>
        <p>To keep connected with us please login with your personal info</p>
        
        <form (ngSubmit)="onSubmit()">
          <!-- Email input -->
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
          </div>
          
          <!-- Password input -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password"  required>
          </div>
          
          <button type="submit" class="btn-primary">SIGN IN</button>
        </form>
        
        <!-- <div class="divider">or</div> -->
        
        <!-- <div class="social-login">
          <button class="social-btn facebook"><i>f</i></button>
          <button class="social-btn google"><i>G+</i></button>
          <button class="social-btn linkedin"><i>in</i></button>
        </div> -->
        
        <div class="auth-footer">
          <p>Don't have an account? <a routerLink="/register">Create Account</a></p>
        </div>
      </div>
    </div>